
@media (max-width: 500px) {
    /* Menu  */
    /* .menu-dropdown--fade-in {
        animation: fadeInAnimation ease-in-out .5s forwards;
    
    }
    .menu-dropdown--fade-out {
        animation: fadeInAnimation ease-in-out .5s forwards;
    
    }
    
    .hide {
        opacity: 0 !important;
        visibility: hidden !important;
        animation: fadeOutAnimation ease-in-out .5s forwards;
    }
    
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
            visibility: hidden;
            width: 160px;
        }
    
        100% {
            opacity: 1;
            visibility: visible;
            width: 240px;
        }
    
    }
    
    @keyframes fadeOutAnimation {
        0% {
            opacity: 1;
            width: 240px;
            visibility: visible;
        }
    
        100% {
            opacity: 0;
            width: 160px;
            visibility: hidden;
        }
    
    } */
    .none {
        display: none;
    }

    .menu-dropdown {
        width: 240px;
        flex-direction: column;
        gap: 24px;
        justify-content: flex-start;
        align-items: start;
        padding: 15px;
        top: 88px;
        right: 16px;
        position: absolute;
        border: 8px;
        border: 1px solid #a6b4c8de;
        background-color: #ecf0f3a6;
        border-radius: 0.5rem;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        animation: fadeOutAnimation ease-in-out .5s forwards;

    }

    

    .menu-dropdown {
        width: 150px;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
        top: 100%;
        right: 5px;
        position: absolute;
        border: 8px;
        border: 1px solid #a6b4c8de;
        background-color: #ecf0f3a6;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        animation: fadeOutAnimation ease-in-out .5s forwards;

    }

    .menu-dropdown--fade-in {
        animation: fadeInAnimation ease-in-out .5s forwards;

    }

    .menu-icon {
        display: block;
    }



    /*  hero  */
    .hero-section {
        flex-direction: column;
    }

    

    .hero-section-left-top-content h1 {
        font-size: 2.5rem;
    }

    .hero-section-left {
        gap: 35px;
    }
}